[Unit]
Description=BattleTankOnline UDP Relay
After=network.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/udp_replay
ExecStart=/usr/bin/python3.9 /home/opc/udp_replay/relay.py 9000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
