[Unit]
Description=BattleTankOnline UDP Relay
After=network.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/udp_relay
ExecStart=/usr/bin/python3.11 /home/opc/udp_relay/relay.py 9000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
